$primaryColor: #ff385c;
$secondaryColor: rgb(246, 246, 246);
$accentColor: rgb(216, 216, 216);
$breakpoint-tablet: 768px;
$breakpoint-tablet-pro: 1024px;
$breakpoint-mobile-small: 320px;
$breakpoint-mobile-large: 414px;
