$primaryColor: #ff385c;
$secondaryColor: rgb(246, 246, 246);
$accentColor: rgb(216, 216, 216);
$black: rgb(32, 32, 32);
$breakpoint-tablet: 768px;
$breakpoint-tablet-pro: 1024px;
$breakpoint-mobile-max: 414px;
