*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overscroll-behavior-y: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.landing__main--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./home.jpeg") no-repeat fixed 50% 100%;
  background-size: cover;
  font-size: 1.3rem;
  height: 80vh;
}

.landing__main--container {
  width: 90%;
  color: white;
}

.landing__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 1000px;
  margin: 1% 0;
}

.landing__logo {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.landing__tabs {
  width: 40%;
  min-width: 400px;
  max-width: 500px;
  padding-left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing__tab {
  min-width: 170px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.landing__profile {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 130px;
}

.landing__profile--hostbutton {
  background: none;
  font-size: 1rem;
  color: white;
  border: none;
  min-width: 135px;
}

.landing__profile--badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: 90px;
  padding: 2%;
  background-color: white;
  border: none;
}

.landing__profile--userpic {
  background-color: #ff385c;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__search--header {
  color: #202020;
  font-size: 0.85rem;
  font-weight: 600;
  vertical-align: text-bottom;
  letter-spacing: 0.5px;
}

.landing__search--input {
  height: 3vh;
  width: 110px;
  font-size: 0.8rem;
  border: none;
}

.landing__search--input:focus {
  outline: none;
}

.landing__search--input::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.landing__search--input:-ms-input-placeholder {
  font-size: 0.8rem;
}

.landing__search--input::-ms-input-placeholder {
  font-size: 0.8rem;
}

.landing__search--input::placeholder {
  font-size: 0.8rem;
}

.landing__search--location {
  border: none;
  background: white;
  border-radius: 0;
  height: 75px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 220px;
  padding-left: 2%;
}

.landing__search--location input {
  width: 150px;
}

.landing__search--checkin {
  border: none;
  background: white;
  border-radius: 0;
  height: 75px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5%;
  border-left: 1px solid #d8d8d8;
  min-width: 160px;
  max-width: 170px;
}

.landing__search--checkout {
  border: none;
  background: white;
  border-radius: 0;
  height: 75px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5%;
  border-left: 1px solid #d8d8d8;
  min-width: 160px;
  max-width: 170px;
}

.landing__search--guests {
  border: none;
  background: white;
  border-radius: 0;
  height: 75px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5%;
  border-left: 2px solid #d8d8d8;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.landing__search--tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__search--loupe {
  margin-left: -70px;
  background-color: #ff385c;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.landing__search--guests::-webkit-input-placeholder {
  font-size: 1rem;
}

.landing__search--guests:-ms-input-placeholder {
  font-size: 1rem;
}

.landing__search--guests::-ms-input-placeholder {
  font-size: 1rem;
}

.landing__search--guests::placeholder {
  font-size: 1rem;
}

.landing__headline {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 295px;
}

.landing__headline--text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
  width: 500px;
}

.landing__headline--button {
  margin: 4% 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1% 2.5%;
  background-color: white;
}

.landing__section--title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5% 0;
}

.landing__section--subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  margin: -1.5% 0 1.5% 0;
}

.landing__explore--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  margin-bottom: 5%;
  overflow: hidden;
}

.landing__explore--wrapper {
  margin: 3% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__explore--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 220px;
  cursor: pointer;
}

.landing__explore--photo {
  border-radius: 10%;
  width: 3.5vw;
  aspect-ratio: 1/1;
  min-width: 64px;
}

.landing__explore--details {
  font-size: 1.2vw;
  margin: 0 5%;
}

.landing__explore--location {
  font-size: 1rem;
  font-weight: 500;
  min-width: 130px;
}

.landing__explore--eta {
  font-size: 0.9rem;
  font-weight: 400;
}

.landing__banner--forest {
  position: relative;
  margin-bottom: 3%;
  overflow: hidden;
}

.landing__banner--image--forest {
  border-radius: 20px;
  height: 400px;
  width: 100%;
  min-width: 1300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 75%;
     object-position: 50% 75%;
  vertical-align: bottom;
  z-index: 0;
}

.landing__banner--main--forest {
  width: 350px;
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 1;
}

.landing__banner--text--forest {
  font-size: 2.45rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.landing__banner--button--forest {
  padding: 8px 18px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 8% 0 0 0;
  background-color: white;
  color: white;
  background-color: #202020;
}

.landing__gallery--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 0 4% 0;
}

.landing__gallery--item {
  margin: 0 0.9% 0 0;
}

.landing__gallery--image {
  border-radius: 10px;
}

.landing__gallery--subtitle {
  margin: 2% 0 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.landing__gallery--subtext {
  font-size: 0.88rem;
  margin: 0.5% 0;
}

.landing__banner--host {
  position: relative;
  margin: 5% 0 5% 0;
  overflow: hidden;
}

.landing__banner--image--host {
  border-radius: 20px;
  height: 400px;
  width: 100%;
  min-width: 1300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 75%;
     object-position: 50% 75%;
  vertical-align: bottom;
  z-index: 0;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

.landing__banner--main--host {
  width: 400px;
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 1;
}

.landing__banner--text--host {
  margin-bottom: 3%;
  font-size: 2.3rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

.landing__banner--sub--host {
  font-size: 1.1rem;
  color: white;
}

.landing__banner--button--host {
  padding: 8px 18px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 8% 0 0 0;
  background-color: white;
}

.landing__footer--wrapper {
  border-top: 2px solid #d8d8d8;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5%;
  font-size: 0.9rem;
}

.landing__footer--category {
  list-style: none;
  line-height: 3.1rem;
  font-weight: 600;
}

.landing__footer--items {
  line-height: 3.1rem;
}

.landing__bottomNav--wrapper {
  background-color: #f6f6f6;
  padding: 3% 5%;
  border-top: 2px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.landing__bottomNav--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 350px;
}

.landing__bottomNav--links,
#web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
}

.landing__bottomNav--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}

.landing__bottomNav--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 130px;
}

.listings__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.listings__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
  margin: 1% 0;
}

.listings__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gray;
  border-radius: 50px;
  height: 40px;
}

.listings__search--component {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listings__profile {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.listings__profile--hostbutton {
  background: none;
  border: none;
  font-size: 1rem;
  min-width: 135px;
}

.listings__profile--badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: 90px;
  padding: 2%;
  background-color: white;
  border: 1px solid gray;
}

.listings__profile--userpic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff385c;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listings__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  height: 100vh;
}

.listings__results--wrapper {
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: auto;
}

.listings__results--header {
  height: 27%;
  padding: 5% 0 0 0;
}

.listings__results--title {
  margin-bottom: 3%;
}

.listings__results--filters {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
}

.listings__results--filterbutton {
  margin: 0 2%;
  font-size: 0.6rem;
  padding: 1% 2%;
  border-radius: 25px;
}

.listings__results--stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listings__results--statstext {
  font-size: 0.9rem;
  margin-left: 3%;
}

.listings__results--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.listings__results--pagination {
  font-size: 0.9rem;
  margin: 2% 0;
}

.listings__results--fineprint {
  font-size: 0.8rem;
  color: gray;
  margin: 2% 0;
}

.listings__recent--wrapper {
  padding: 5% 0;
  background-color: #f6f6f6;
}

.listings__recent--sectionhead {
  font-size: 1.3rem;
  font-weight: 500;
}

.listings__recent--sectionsubhead {
  font-size: 1rem;
  margin-bottom: 3%;
}

.listings__recentcards--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listings__recentcards--container {
  margin: 0 3% 0 0;
}

.listings__recentcards--image {
  border-radius: 20px;
  margin: 2% 0;
}

.listings__recentcards--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}

.listings__locations--wrapper {
  margin: 5% 0;
}

.listings__locationbtn--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}

.listings__locationbtn--button {
  padding: 20px;
  width: 150px;
  margin: 0 3% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listings__locationbtn--location {
  font-size: 1.1rem;
}

.listings__resultcard--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 2% 0;
}

.listings__resultcard--image {
  border-radius: 15px;
}

.listings__resultcard--details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0 2%;
}

.listings__resultcard--header {
  font-size: 0.9rem;
  color: gray;
}

.listings__resultcard--favorite {
  position: absolute;
  right: 10px;
  width: 20px;
  aspect-ratio: 1/1;
}

.listings__resultcard--title {
  font-size: 1.1rem;
}

.listings__resultcard--amenities {
  font-size: 0.9rem;
  color: gray;
}

.listings__resultcard--price {
  font-size: 1.1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.listings__map--wrapper {
  width: 50%;
}

.listings__map {
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.listings__footer--wrapper {
  border-top: 2px solid grey;
  background-color: #f6f6f6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1%;
  font-size: 0.9rem;
}

.listings__bottomnav--wrapper {
  width: 97%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .landing__main--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("./home.jpeg") no-repeat fixed 50% 100%;
    background-size: cover;
    font-size: 1.3rem;
    height: 80vh;
    width: 100vw;
  }
  .landing__main--container {
    width: 90%;
    color: white;
  }
  .landing__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 100%;
    margin: 2% 0;
    height: 80px;
  }
  .landing__logo {
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .landing__tabs {
    width: 40%;
    margin: 1% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    min-width: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .landing__tab {
    min-width: 140px;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
  }
  .landing__profile {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    padding: 0;
  }
  .landing__profile--hostbutton {
    background: none;
    font-size: 0.8rem !important;
    font-weight: 500;
    color: white;
    border: none;
    min-width: 120px;
  }
  .landing__profile--badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50px;
    width: 70px !important;
    padding: 1% 2%;
    background-color: white;
    border: none;
    margin-left: 5px;
  }
  .landing__profile--userpic {
    background-color: #ff385c;
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .landing__profile--hostbutton {
    background: none;
    font-size: 1rem;
    color: white;
    border: none;
  }
  .landing__profile--badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50px;
    width: 90px;
    padding: 2%;
    background-color: white;
    border: none;
  }
  .landing__profile--userpic {
    background-color: #ff385c;
    width: 32px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__search--header {
    color: #202020;
    font-size: 0.85rem;
    font-weight: 600;
    vertical-align: text-bottom;
    letter-spacing: 0.5px;
    min-width: 150px;
  }
  .landing__search--input {
    height: 3vh;
    width: 110px;
    font-size: 0.8rem;
    border: none;
  }
  .landing__search--input:focus {
    outline: none;
  }
  .landing__search--input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .landing__search--input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .landing__search--input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .landing__search--input::placeholder {
    font-size: 0.8rem;
  }
  .landing__search--location {
    border: none;
    background: white;
    border-radius: 0;
    height: 60px;
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 200px;
    padding-left: 3%;
  }
  .landing__search--location input {
    width: 150px;
  }
  .landing__search--checkin {
    border: none;
    background: white;
    border-radius: 0;
    height: 60px;
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
    border-left: 1px solid #d8d8d8;
    min-width: 160px;
    max-width: 170px;
    width: 120px;
  }
  .landing__search--checkout {
    border: none;
    background: white;
    border-radius: 0;
    height: 60px;
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
    border-left: 1px solid #d8d8d8;
    min-width: 160px;
    max-width: 170px;
    width: 120px;
  }
  .landing__search--guests {
    border: none;
    background: white;
    border-radius: 0;
    height: 60px;
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
    border-left: 2px solid #d8d8d8;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 160px;
  }
  .landing__search--guests input {
    width: 85px;
  }
  .landing__search--tail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing__search--loupe {
    margin-left: -55px;
    background-color: #ff385c;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  .landing__headline {
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: absolute;
    top: 295px;
  }
  .landing__headline--text {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.1;
    width: 245px;
  }
  .landing__headline--button {
    margin: 4% 0;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 3% 5%;
    background-color: white;
  }
  .landing__section--title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5% 0;
  }
  .landing__section--subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin: -1.5% 0 1.5% 0;
  }
  .landing__explore--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin-bottom: 5%;
  }
  .landing__explore--grid .landing__explore--item:nth-child(n + 7) {
    display: none;
  }
  .landing__explore--wrapper {
    margin: 3% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing__explore--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 220px;
    cursor: pointer;
  }
  .landing__explore--photo {
    border-radius: 10%;
    width: 3.5vw;
    aspect-ratio: 1/1;
    min-width: 64px;
  }
  .landing__explore--details {
    font-size: 1.2vw;
    margin: 0 5%;
  }
  .landing__explore--location {
    font-size: 1rem;
    font-weight: 500;
    min-width: 130px;
  }
  .landing__explore--eta {
    font-size: 0.85rem;
    font-weight: 400;
  }
  .landing__banner--forest {
    position: relative;
    margin-bottom: 5%;
  }
  .landing__banner--image--forest {
    border-radius: 20px;
    height: 350px;
    width: 100%;
    min-width: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 5% 75%;
       object-position: 5% 75%;
    vertical-align: bottom;
    z-index: 0;
  }
  .landing__banner--main--forest {
    width: 280px;
    position: absolute;
    left: 7%;
    top: 30%;
    z-index: 1;
  }
  .landing__banner--text--forest {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
  }
  .landing__banner--button--forest {
    padding: 8px 18px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 8% 0 0 0;
    background-color: white;
    color: white;
    background-color: #202020;
  }
  .landing__gallery--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1% 0 4% 0;
    overflow: hidden;
  }
  .landing__gallery--container .landing__gallery--item:nth-child(n + 4) {
    display: none;
  }
  .landing__gallery--item {
    margin: 0 1.6% 0 0;
  }
  .landing__gallery--image {
    border-radius: 10px;
    min-width: 224px;
  }
  .landing__gallery--subtitle {
    margin: 3% 0 1% 0;
    font-size: 1rem;
    font-weight: 500;
  }
  .landing__gallery--subtext {
    font-size: 0.88rem;
    margin: 0.5% 0;
  }
  .landing__banner--host {
    position: relative;
    margin: 5% 0 5% 0;
  }
  .landing__banner--image--host {
    border-radius: 20px;
    height: 350px;
    width: 100%;
    min-width: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 5% 75%;
       object-position: 5% 75%;
    vertical-align: bottom;
    z-index: 0;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
  }
  .landing__banner--main--host {
    width: 260px;
    position: absolute;
    left: 7%;
    top: 25%;
    z-index: 1;
  }
  .landing__banner--text--host {
    margin-bottom: 3%;
    font-size: 2rem;
    font-weight: 500;
    color: white;
  }
  .landing__banner--sub--host {
    font-size: 0.95rem;
    color: white;
  }
  .landing__banner--button--host {
    padding: 8px 18px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 8% 0 0 0;
    background-color: white;
  }
  .landing__footer--wrapper {
    border-top: 2px solid #d8d8d8;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  .landing__footer--category {
    list-style: none;
    line-height: 2.1rem;
    font-weight: 600;
  }
  .landing__footer--items {
    font-size: 0.9rem;
    line-height: 2rem;
    min-width: 230px;
  }
  .landing__footer--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .landing__footer--column {
    padding-left: 0;
    margin: 0;
  }
  .landing__footer--set {
    padding: 3% 0;
    border-bottom: 1px solid #d8d8d8;
  }
  .landing__bottomNav--wrapper {
    background-color: #f6f6f6;
    padding: 3% 5%;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9rem;
  }
  .landing__bottomNav--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
  }
  .landing__bottomNav--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
  }
  .landing__bottomNav--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: underline;
    font-weight: 500;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 280px;
    margin-bottom: 2%;
  }
  .landing__bottomNav--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 130px;
  }
}

@media screen and (max-width: 414px) {
  .landing__main--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("./home.jpeg") no-repeat fixed 50% 50%;
    background-size: cover;
    font-size: 1.5rem;
    height: 65vh;
    width: 100vw;
  }
  .landing__main--container {
    width: 90%;
    color: white;
  }
  .landing__nav {
    display: none;
  }
  .landing__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__search--location,
  #mobile {
    border: none;
    background: white;
    border-radius: 50px;
    height: 50px;
    width: 98%;
    padding-left: 8%;
    margin: 5% 0;
  }
  .landing__search--location input,
  #mobile input {
    width: 250px;
    padding-top: 5px;
  }
  .landing__search--location ::-webkit-input-placeholder,
  #mobile ::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .landing__search--location :-ms-input-placeholder,
  #mobile :-ms-input-placeholder {
    font-size: 1rem;
  }
  .landing__search--location ::-ms-input-placeholder,
  #mobile ::-ms-input-placeholder {
    font-size: 1rem;
  }
  .landing__search--location ::placeholder,
  #mobile ::placeholder {
    font-size: 1rem;
  }
  .landing__search--header {
    display: none !important;
  }
  .landing__search--checkin {
    display: none;
  }
  .landing__search--checkout {
    display: none;
  }
  .landing__search--guests {
    display: none;
  }
  .landing__search--loupe {
    background-color: transparent;
    position: relative;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 0%;
    padding-top: 5px;
  }
  .landing__search--loupe svg {
    fill: black;
    width: 18px;
    position: absolute;
    left: -241px;
    top: 20px;
  }
  .landing__headline {
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: absolute;
    top: 100px;
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing__headline--text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    width: 100%;
  }
  .landing__headline--button {
    margin: 4% 0;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 2% 3%;
    background-color: white;
    border: none;
  }
  .landing__section--title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5% 0 1.5% 5%;
  }
  .landing__section--subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin: -1.5% 0 1.5% 5%;
  }
  .landing__explore--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin-bottom: 5%;
    overflow-x: scroll;
    overscroll-behavior: auto;
  }
  .landing__explore--grid .landing__explore--item:nth-child(n + 7) {
    display: none;
  }
  .landing__explore--wrapper {
    margin: 1% 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing__explore--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 220px;
    cursor: pointer;
  }
  .landing__explore--photo {
    border-radius: 10%;
    width: 3.5vw;
    aspect-ratio: 1/1;
    min-width: 64px;
  }
  .landing__explore--details {
    font-size: 1.2vw;
    margin: 0 5%;
  }
  .landing__explore--location {
    font-size: 1rem;
    font-weight: 500;
    min-width: 130px;
  }
  .landing__explore--eta {
    font-size: 0.85rem;
    font-weight: 400;
  }
  .landing__banner--forest {
    position: relative;
    width: 90%;
    margin-bottom: 10%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .landing__banner--image--forest {
    border-radius: 20px;
    height: 350px;
    width: 100%;
    min-width: 300px;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 30% 90%;
       object-position: 30% 90%;
    vertical-align: bottom;
    z-index: 0;
    border: 1px solid #d8d8d8;
  }
  .landing__banner--main--forest {
    width: 90%;
    position: absolute;
    top: 5%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing__banner--text--forest {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
  }
  .landing__banner--button--forest {
    padding: 8px 18px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 8% 0 0 0;
    background-color: white;
    margin: 3% 0 0 0;
    color: white;
    background-color: #202020;
  }
  .landing__gallery--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1% 0 4% 5%;
    overflow: hidden;
    overflow-x: scroll;
    overscroll-behavior: auto;
  }
  .landing__gallery--container .landing__gallery--item:nth-child(n + 4) {
    display: none;
  }
  .landing__gallery--item {
    margin: 0 4% 0 0;
  }
  .landing__gallery--image {
    border-radius: 10px;
    min-width: 280px;
  }
  .landing__gallery--subtitle {
    margin: 3% 0 1% 0;
    font-size: 1rem;
    font-weight: 500;
  }
  .landing__gallery--subtext {
    font-size: 0.8rem;
    margin: 0.5% 0;
  }
  .landing__banner--host {
    position: relative;
    margin-bottom: 10%;
    background-color: #202020;
    border-radius: 20px;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__banner--host img {
    height: 400px;
  }
  .landing__banner--image--host {
    border-radius: 20px;
    height: 350px;
    width: 100%;
    min-width: 300px;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 30% 90%;
       object-position: 30% 90%;
    vertical-align: bottom;
    z-index: 0;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 0 80%;
       object-position: 0 80%;
  }
  .landing__banner--main--host {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
  }
  .landing__banner--text--host {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
  }
  .landing__banner--sub--host {
    font-size: 0.95rem;
    text-align: center;
    color: white;
  }
  .landing__banner--button--host {
    padding: 8px 18px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 8% 0 0 0;
    background-color: white;
    margin: 3% 0 0 26%;
  }
  .landing__footer--wrapper {
    border-top: 2px solid #d8d8d8;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  .landing__footer--category {
    list-style: none;
    line-height: 2.1rem;
    font-weight: 600;
  }
  .landing__footer--items {
    font-size: 0.9rem;
    line-height: 2.4rem;
    min-width: 230px;
  }
  .landing__footer--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .landing__footer--column {
    padding-left: 0;
    margin: 0;
  }
  .landing__footer--set {
    padding: 5% 0;
    border-bottom: 1px solid #d8d8d8;
  }
  .landing__bottomNav--wrapper {
    background-color: #f6f6f6;
    padding: 5% 5%;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9rem;
  }
  .landing__bottomNav--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
  }
  .landing__bottomNav--links,
  #web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 200px;
  }
  .landing__bottomNav--link {
    margin-right: 5px;
  }
  .landing__bottomNav--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: underline;
    font-weight: 500;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 280px;
    margin-bottom: 2%;
  }
  .landing__bottomNav--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 130px;
  }
}
/*# sourceMappingURL=index.css.map */