@import "_variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overscroll-behavior-y: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@mixin search-defaults {
  border: none;
  background: white;
  border-radius: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

@mixin checkinout-defaults {
  border-left: 2px solid $accentColor;
  min-width: 160px;
}

@mixin bannerButton-defaults {
  padding: 8px 18px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 8% 0 0 0;
  background-color: white;
}

@mixin flexColAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin bannerImage-defaults {
  border-radius: 20px;
  height: 400px;
  width: 100%;
  min-width: 1300px;
  object-fit: cover;
  object-position: 50% 75%;
  vertical-align: bottom;
  z-index: 0;
}

.landing__main--wrapper {
  @include flexColAlignCenter;
  background: url("./home.jpeg") no-repeat fixed 50% 100%;
  background-size: cover;
  font-size: 1.3rem;
  height: 80vh;
}

.landing__main--container {
  width: 90%;
  color: white;
}

.landing__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 1000px;
  margin: 1% 0;
}

.landing__logo {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.landing__tabs {
  width: 40%;
  min-width: 400px;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.landing__tab {
  min-width: 170px;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}

.landing__profile {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
}
.landing__profile--hostbutton {
  background: none;
  font-size: 0.9rem;
  color: white;
  border: none;
  min-width: 135px;
}

.landing__profile--badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  width: 90px;
  padding: 2%;
  background-color: white;
  border: none;
}

.landing__profile--userpic {
  background-color: $primaryColor;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  vertical-align: middle;
  @include flexColAlignCenter;
  justify-content: center;
}

.landing__search {
  display: flex;
  justify-content: center;
}

.landing__search--header {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  vertical-align: text-bottom;
  letter-spacing: 0.5px;
}

.landing__search--input {
  height: 3vh;
  width: 150px;
  font-size: 0.8rem;
  border: none;
}

.landing__search--input:focus {
  outline: none;
}
.landing__search--input::placeholder {
  font-size: 0.8rem;
}

.landing__search--location {
  @include search-defaults;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 220px;
  padding-left: 3%;
}

.landing__search--checkin {
  @include search-defaults;
  @include checkinout-defaults;
}

.landing__search--checkout {
  @include search-defaults;
  @include checkinout-defaults;
}

.landing__search--guests {
  @include search-defaults;
  border-left: 2px solid $accentColor;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 220px;
  padding-left: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.landing__search--tail {
  display: flex;
  align-items: center;
}

.landing__search--loupe {
  margin-left: -55px;
  background-color: $primaryColor;
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__search--guests::placeholder {
  font-size: 1rem;
}

.landing__headline {
  align-self: flex-start;
  position: absolute;
  top: 295px;
}

.landing__headline--text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
  width: 500px;
}

.landing__headline--button {
  margin: 4% 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1% 2.5%;
  background-color: white;
}

.landing__section--title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5% 0;
}

.landing__section--subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  margin: -1.5% 0 1.5% 0;
}

.landing__explore--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  margin-bottom: 5%;
}

.landing__explore--wrapper {
  margin: 3% 5%;
  display: flex;
  flex-direction: column;
}

.landing__explore--item {
  display: flex;
  align-items: center;
  min-width: 220px;
  cursor: pointer;
}

.landing__explore--photo {
  border-radius: 10%;
  width: 3.5vw;
  aspect-ratio: 1/1;
  min-width: 64px;
}
.landing__explore--details {
  font-size: 1.2vw;
  margin: 0 5%;
}

.landing__explore--location {
  font-size: 1rem;
  font-weight: 500;
  min-width: 130px;
}
.landing__explore--eta {
  font-size: 0.9rem;
  font-weight: 400;
}

.landing__banner--forest {
  position: relative;
  margin-bottom: 3%;
}

.landing__banner--image--forest {
  @include bannerImage-defaults;
}

.landing__banner--main--forest {
  width: 350px;
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 1;
}
.landing__banner--text--forest {
  font-size: 2.45rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.landing__banner--button--forest {
  @include bannerButton-defaults;
  color: white;
  background-color: black;
}

.landing__gallery--container {
  display: flex;
  margin: 1% 0 4% 0;
}

.landing__gallery--item {
  margin: 0 0.9% 0 0;
}

.landing__gallery--image {
  border-radius: 10px;
}

.landing__gallery--subtitle {
  margin: 2% 0 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.landing__gallery--subtext {
  font-size: 0.88rem;
  margin: 0.5% 0;
}

.landing__banner--host {
  position: relative;
  margin: 5% 0 5% 0;
}

.landing__banner--image--host {
  @include bannerImage-defaults;
  object-position: 50% 20%;
}

.landing__banner--main--host {
  width: 400px;
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 1;
}
.landing__banner--text--host {
  margin-bottom: 3%;
  font-size: 2.3rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

.landing__banner--sub--host {
  font-size: 1.1rem;
  color: white;
}

.landing__banner--button--host {
  @include bannerButton-defaults;
}

.landing__footer--wrapper {
  border-top: 2px solid $accentColor;
  background-color: $secondaryColor;
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  font-size: 0.9rem;
}

.landing__footer--category {
  list-style: none;
  line-height: 3.1rem;
  font-weight: 600;
}

.landing__footer--items {
  line-height: 3.1rem;
}

.landing__bottomNav--wrapper {
  background-color: $secondaryColor;
  padding: 3% 5%;
  border-top: 2px solid $accentColor;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.landing__bottomNav--left {
  display: flex;
  justify-content: space-around;
  width: 350px;
}

.landing__bottomNav--right {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.landing__bottomNav--social {
  display: flex;
  justify-content: space-around;
  width: 130px;
}

.listings__wrapper {
  @include flexColAlignCenter;
  height: 100vh;
}

.listings__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin: 1% 0;
}

.listings__search {
  display: flex;
  border: 1px solid gray;
  border-radius: 50px;
  height: 40px;
}

.listings__search--component {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listings__profile {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.listings__profile--hostbutton {
  background: none;
  border: none;
  font-size: 1rem;
  min-width: 135px;
}

.listings__profile--badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  width: 90px;
  padding: 2%;
  background-color: white;
  border: 1px solid gray;
}

.listings__profile--userpic {
  @include flexColAlignCenter;
  background-color: $primaryColor;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  vertical-align: middle;
  justify-content: center;
}

.listings__main {
  display: flex;
  width: 97%;
  height: 100vh;
}

.listings__results--wrapper {
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: auto;
}

.listings__results--header {
  height: 27%;
  padding: 5% 0 0 0;
}

.listings__results--title {
  margin-bottom: 3%;
}

.listings__results--filters {
  width: 80%;
  display: flex;
  margin-bottom: 3%;
}
.listings__results--filterbutton {
  margin: 0 2%;
  font-size: 0.6rem;
  padding: 1% 2%;
  border-radius: 25px;
}

.listings__results--stats {
  display: flex;
  align-items: center;
}

.listings__results--statstext {
  font-size: 0.9rem;
  margin-left: 3%;
}

.listings__results--nav {
  @include flexColAlignCenter;
  padding: 5% 0;
}
.listings__results--pagination {
  font-size: 0.9rem;
  margin: 2% 0;
}

.listings__results--fineprint {
  font-size: 0.8rem;
  color: gray;
  margin: 2% 0;
}

.listings__recent--wrapper {
  padding: 5% 0;
  background-color: rgb(246, 246, 246);
}

.listings__recent--sectionhead {
  font-size: 1.3rem;
  font-weight: 500;
}
.listings__recent--sectionsubhead {
  font-size: 1rem;
  margin-bottom: 3%;
}

.listings__recentcards--wrapper {
  display: flex;
}

.listings__recentcards--container {
  margin: 0 3% 0 0;
}

.listings__recentcards--image {
  border-radius: 20px;
  margin: 2% 0;
}

.listings__recentcards--rating {
  display: flex;
  margin: 2% 0;
}

.listings__locations--wrapper {
  margin: 5% 0;
}

.listings__locationbtn--wrapper {
  display: flex;
  margin: 2% 0;
}
.listings__locationbtn--button {
  padding: 20px;
  width: 150px;
  margin: 0 3% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listings__locationbtn--location {
  font-size: 1.1rem;
}

.listings__resultcard--wrapper {
  display: flex;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 2% 0;
}
.listings__resultcard--image {
  border-radius: 15px;
}

.listings__resultcard--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 2%;
}

.listings__resultcard--header {
  font-size: 0.9rem;
  color: gray;
}

.listings__resultcard--favorite {
  position: absolute;
  right: 10px;
  width: 20px;
  aspect-ratio: 1/1;
}
.listings__resultcard--title {
  font-size: 1.1rem;
}
.listings__resultcard--amenities {
  font-size: 0.9rem;
  color: gray;
}
.listings__resultcard--price {
  font-size: 1.1rem;
  align-self: flex-end;
}
.listings__map--wrapper {
  width: 50%;
}

.listings__map {
  width: 100%;
  height: 100%;
  position: sticky;
  object-fit: cover;
  object-position: center;
}

.listings__footer--wrapper {
  border-top: 2px solid grey;
  background-color: $secondaryColor;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  font-size: 0.9rem;
}

.listings__bottomnav--wrapper {
  width: 97%;
}
